<%- include('partials/header') -%>


<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-sm-12">
            <h1>Home Page</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum
                numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum
                numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis ratione culpa quae eum numquam, minus
                assumenda itaque, impedit iste quibusdam, ad similique optio voluptas? Consectetur blanditiis eos libero
                quibusdam velit?</p>
        </div>
    </div>
</div>


<%- include('partials/footer') -%>