<%- include('partials/header') -%>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-4">
            <form action="javascript:void(0)">
                <input type="text" name="username" id="js-login-username" class="form-control" />
                <p class="alert alert-danger" id="js-login-username-error" style="display: none;"></p>
                <input type="password" name="password" id="js-login-password" class="form-control" />
                <p class="alert alert-danger" id="js-login-password-error" style="display: none;"></p>
                <input type="submit" id="js-login-btn" />
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer') -%>